{
	auto_https off
	admin off
}


{
  email {$ISCC_WEB_SITE_EMAIL}
}

{$ISCC_WEB_SITE_ADDRESS} {
  reverse_proxy app:8000
}

# Issuer API
:{$ISSUER_API_PORT} {
    reverse_proxy http://issuer-api:{$ISSUER_API_PORT}
}

# Verifier API
:{$VERIFIER_API_PORT} {
    reverse_proxy http://verifier-api:{$VERIFIER_API_PORT}
}