{
	auto_https off
	admin off
}


# Issuer API
:{$ISSUER_API_PORT} {
    reverse_proxy http://issuer-api:{$ISSUER_API_PORT}
}

# Verifier API
:{$VERIFIER_API_PORT} {
    reverse_proxy http://verifier-api:{$VERIFIER_API_PORT}
}

